openapi: 3.1.0
info:
  title: ternis.link API
  version: 1.0.0
  description: |
    Short-link CRUD, custom domains, click analytics, and anonymous
    link creation for ternis.link.

    Host pinning (enforced by EnsureDomainType + ResolveDomain):
    - Authenticated v1 endpoints: `links.t-api.de` only (`domain_type: api`).
      Requests on redirect/dashboard hosts return 404 before auth runs.
    - `POST /v1/links/public`: `links.t-api.de` and public short-link
      hosts (e.g. `href.nz`) only. Dashboard/admin/redirect-only hosts 404.
    - Dashboard + auth web routes: `dash.ternis.link` / `admin.ternis.link` only.
    - Redirects (`/url/{url}`, `/go/{url}`, `/{slug}`): public, business,
      ternis, and partner hosts only. API/dashboard hosts 404 there.
      Slugs matching `v{number}` (e.g. `v1`) are reserved on redirect
      hosts so single-segment API roots (`/v1`) fall through to the API.

    Versioning (enforced by EnsureApiVersion):
    - Every v1 response carries `API-Version` + `API-Latest-Version`.
    - Deprecated versions add `Deprecation: true` + `Sunset` (RFC 7231).
    - Retired versions return `410` with `{ message, version, latest_version }`
      before auth runs.
    - `GET /v1/` is public (no auth) and is the landing target of
      `links.t-api.de/`.

    Errors (JSON, `{ message }` shape):
    - 401/403/410 all return `{ message }` (never `{ error }`).
    - Validation failures return Laravel `{ message, errors }`.
    - Plan per-minute overages return `429` with a `Retry-After` header;
      `throttle:api` / `throttle:10,1` add the standard
      `X-RateLimit-*` + `Retry-After` headers.
  contact:
    name: ternis-edv
    url: https://ternis.dev
servers:
  - url: https://links.t-api.de/v1
    description: Production API (host-pinned, see above)
security:
  - bearerAuth: []
paths:
  /:
    get:
      summary: Version metadata (public, no auth)
      description: |
        Landing target of `links.t-api.de/` (`/v1/`). Always carries
        `API-Version` + `API-Latest-Version`; deprecated versions also
        send `Deprecation` + `Sunset`, retired versions return 410.
        Hosts: `links.t-api.de` only. Others 404.
      security: []
      responses:
        '200':
          description: Version metadata
          headers:
            API-Version: { schema: { type: string }, description: Requested version }
            API-Latest-Version: { schema: { type: string }, description: Latest active version }
            Deprecation: { schema: { type: string }, description: Present (true) when deprecated }
            Sunset: { schema: { type: string }, description: RFC 7231 retirement date when deprecated }
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: integer }
                  status: { type: string, enum: [active, deprecated, retired] }
                  latest_version: { type: integer }
                  deprecated_at: { type: string, format: date, nullable: true }
                  endpoints: { type: object }
                  docs: { type: string }
        '404': { description: Non-API host }
        '410': { description: Version retired — migrate to latest_version }
  /links/public:
    post:
      summary: Create an anonymous short link (no auth)
      description: |
        Guests only. Auto-generated 8-char slugs (`[a-zA-Z0-9_-]`) —
        custom `slug` values are rejected (422, prohibited). Restricted
        to active public system domains, `throttle:10,1` per IP plus a
        50/day per-IP quota (SHA-256 IP hash, never raw IPs).
        Hosts: `links.t-api.de`, public hosts. Others 404.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination_url]
              properties:
                destination_url:
                  type: string
                  format: uri
                  maxLength: 2048
                domain_id:
                  type: string
                  description: ULID. Must be an active public system domain. Defaults to href.nz.
                expires_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug: { type: string }
                  destination_url: { type: string }
                  short_url: { type: string }
        '422': { description: Validation error (custom slug prohibited, non-public domain, quota) }
        '429': { description: Per-minute throttle exceeded (Retry-After + X-RateLimit-*) }
        '404': { description: Wrong host for this endpoint }
        '410': { description: Version retired — see GET / for latest_version }
  /qr:
    get:
      summary: Generate a QR code for a URL (public)
      description: |
        Generates a QR code without authentication. SVG is returned by default;
        use `format=png` for a PNG image. Only HTTP and HTTPS URLs are accepted.
        Hosts: `links.t-api.de` and public short-link hosts.
      security: []
      parameters:
        - name: url
          in: query
          required: true
          schema: { type: string, format: uri, maxLength: 2048 }
        - name: format
          in: query
          required: false
          schema: { type: string, enum: [svg, png], default: svg }
      responses:
        '200':
          description: QR code image
          content:
            image/svg+xml: { schema: { type: string } }
            image/png: { schema: { type: string, format: binary } }
        '422': { description: Invalid URL or unsupported format }
        '429': { description: Per-minute throttle exceeded }
        '404': { description: Wrong host }
        '410': { description: Version retired — see GET / for latest_version }
  /links:
    get:
      summary: List links (admins see all, users see own)
      parameters:
        - name: scope
          in: query
          required: false
          schema: { type: string, enum: [all, mine], default: all }
          description: Admins only — `mine` restricts to own links. Regular users always see own links.
        - name: tag
          in: query
          required: false
          schema: { type: string }
          description: Filter to links carrying that exact (lowercase) tag.
        - name: api_key_id
          in: query
          required: false
          schema: { type: string }
          description: Filter to links created with one API key (ULID, must be owned unless admin with scope=all). `none` selects dashboard-created links (no key).
      responses:
        '200':
          description: Paginated links
          headers:
            API-Version: { schema: { type: string } }
            API-Latest-Version: { schema: { type: string } }
        '401': { description: "{ message } — missing/invalid Bearer key or SSO token" }
        '404': { description: Non-API host }
        '410': { description: Version retired }
    post:
      summary: Create a short link (plan limits enforced)
      description: |
        Custom slugs must match `[a-zA-Z0-9_-]` and the plan minimum
        length; per-domain uniqueness, daily quota, and per-minute rate
        limit apply (see LinkService). Custom domains must be verified.
        Privileged users (admins, plans with slug-length choice) may pass
        `slug_length` (3–64) to size auto-generated slugs; a custom `slug`
        always wins and ineligible values are ignored. Scanner-probe
        destinations are rejected (422). IDs are ULIDs (strings).
        Over-quota per-minute responses are `429` with `Retry-After`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination_url, domain_id]
              properties:
                destination_url: { type: string, format: uri, maxLength: 2048 }
                domain_id: { type: string, description: ULID }
                slug: { type: string, pattern: "^[a-zA-Z0-9_-]+$", maxLength: 255 }
                targets: { type: array, maxItems: 20, description: Full replace; rows with known ids update in place (click counts survive), unknown ids rejected, [] clears }
                slug_length: { type: integer, minimum: 3, maximum: 64, description: Privileged users only; sizes auto-generated slugs, ignored with custom slug }
                description: { type: string, maxLength: 500 }
                og_title: { type: string, maxLength: 120, description: Social preview title (members only) }
                og_description: { type: string, maxLength: 300, description: Social preview description }
                og_image_url: { type: string, format: uri, maxLength: 2048, description: https image URL for shares }
                password: { type: string, minLength: 8, maxLength: 72, description: Password-protect the link (members only) }
                tags: { type: array, maxItems: 10, items: { type: string, pattern: "^[a-z0-9][a-z0-9-]{0,28}[a-z0-9]$" } }
                expires_at: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          headers:
            API-Version: { schema: { type: string } }
            API-Latest-Version: { schema: { type: string } }
        '422': { description: Slug/quota/domain validation error (`{ message, errors }`) }
        '429': { description: Plan per-minute rate limit (`{ message }` + Retry-After) }
        '404': { description: Non-API host }
        '410': { description: Version retired }
  /links/{link}:
    parameters:
      - { name: link, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Get a link (owner or admin)
      responses:
        '200': { description: Link with domain }
        '403': { description: "{ message: 'You do not own this link.' }" }
        '404': { description: Unknown link or wrong host }
        '410': { description: Version retired }
    put:
      summary: Update destination, activity, expiry, social preview, or password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_url: { type: string, format: uri, maxLength: 2048 }
                description: { type: string, maxLength: 500, nullable: true }
                og_title: { type: string, maxLength: 120, nullable: true }
                og_description: { type: string, maxLength: 300, nullable: true }
                og_image_url: { type: string, format: uri, maxLength: 2048, nullable: true }
                password: { type: string, minLength: 8, maxLength: 72, nullable: true, description: Sets (or rotates) the link password }
                remove_password: { type: boolean, description: Clears the link password }
                tags: { type: array, maxItems: 10, items: { type: string }, nullable: true }
                is_active: { type: boolean }
                expires_at: { type: string, format: date-time, nullable: true }
      responses:
        '200': { description: Updated }
        '403': { description: "{ message: 'You do not own this link.' }" }
        '410': { description: Version retired }
    delete:
      summary: Deactivate a link (analytics preserved)
      responses:
        '204': { description: Deactivated }
        '403': { description: "{ message: 'You do not own this link.' }" }
        '410': { description: Version retired }
  /links/{link}/clicks:
    parameters:
      - { name: link, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Paginated clicks (direct-URL clicks admin-only)
      responses:
        '200': { description: Paginated clicks }
        '403': { description: Not the owner }
  /links/{link}/qr:
    parameters:
      - { name: link, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Return a link QR code
      description: SVG is returned by default; use `format=png` for a PNG image.
      parameters:
        - name: format
          in: query
          required: false
          schema: { type: string, enum: [svg, png], default: svg }
      responses:
        '200':
          description: QR code image
          content:
            image/svg+xml: { schema: { type: string } }
            image/png: { schema: { type: string, format: binary } }
        '403': { description: Not the owner }
        '404': { description: Unknown link or wrong host }
        '422': { description: Unsupported format }
  /links/{link}/clicks/summary:
    parameters:
      - { name: link, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Aggregated click stats
      responses:
        '200':
          description: Totals, unique visitors, top referrers/countries, by-day
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_clicks: { type: integer }
                  unique_visitors: { type: integer }
                  top_referrers: { type: array, items: { type: object } }
                  top_countries: { type: array, items: { type: object } }
                  clicks_by_day: { type: array, items: { type: object } }
  /domains:
    get:
      summary: List system + own domains
      responses:
        '200': { description: Domain list }
    post:
      summary: Register a custom domain (eligible plans only)
      description: |
        Hostname is lowercased/trimmed, must be a valid FQDN, and must not
        collide with reserved system/wildcard hosts. Returns DNS TXT
        verification instructions until verified.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hostname]
              properties:
                hostname: { type: string, maxLength: 253 }
      responses:
        '201': { description: Registered (unverified) }
        '403': { description: Plan does not allow custom domains }
        '422': { description: Invalid/reserved/duplicate hostname }
  /domains/{domain}:
    parameters:
      - { name: domain, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Show a domain (+ verification instructions until verified)
      responses:
        '200': { description: Domain }
        '403': { description: Not the owner (non-admin) }
    delete:
      summary: Deactivate own domain (links preserved, system domains protected)
      responses:
        '204': { description: Deactivated }
        '403': { description: Foreign or system domain }
  /domains/{domain}/verify:
    parameters:
      - { name: domain, in: path, required: true, schema: { type: string, description: ULID } }
    post:
      summary: Verify DNS TXT record and activate
      responses:
        '200': { description: "{ verified: true } on success" }
        '422': { description: "{ verified: false, verification: {...} } — record missing" }
  /api-keys:
    get:
      summary: List own API keys (newest first, digests never exposed)
      responses:
        '200': { description: Paginated keys (prefix + metadata, no raw tokens) }
        '401': { description: "{ message } — missing/invalid Bearer key or SSO token" }
    post:
      summary: Create an API key (raw token returned once)
      description: |
        The raw `tl_…` token is returned as `api_key` exactly once and
        is never stored — only its SHA-256 digest persists. Creation is
        logged to the activity feed and triggers a security notification.
        `show_on_dashboard=false` hides the key's links from the main
        dashboard list (they stay on the key's own page).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 255 }
                show_on_dashboard: { type: boolean, default: true }
      responses:
        '201': { description: Created (includes one-time `api_key`) }
        '422': { description: Validation error (`{ message, errors }`) }
  /api-keys/{apiKey}:
    parameters:
      - { name: apiKey, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Show an API key (prefix + metadata, digests never exposed)
      responses:
        '200': { description: Key metadata }
        '403': { description: "{ message: 'You do not own this API key.' }" }
        '404': { description: Unknown API key or wrong host }
    patch:
      summary: Rename a key or toggle its dashboard visibility
      description: Links are never moved or deleted; hiding only changes where they are listed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 255 }
                show_on_dashboard: { type: boolean }
      responses:
        '200': { description: Updated key }
        '403': { description: "{ message: 'You do not own this API key.' }" }
        '422': { description: Validation error (`{ message, errors }`) }
    delete:
      summary: Revoke an owned API key (links preserved)
      responses:
        '204': { description: Revoked }
        '403': { description: "{ message: 'You do not own this API key.' }" }
  /notifications:
    get:
      summary: In-app notification inbox (newest first)
      responses:
        '200': { description: Paginated database notifications }
        '401': { description: "{ message } — missing/invalid Bearer key or SSO token" }
  /notifications/read:
    post:
      summary: Mark every unread notification as read
      responses:
        '200': { description: "{ message } confirmation" }
  /notifications/{id}/read:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, description: ULID } }
    post:
      summary: Mark one notification as read
      responses:
        '200': { description: Updated notification }
        '404': { description: Unknown notification }
  /activity:
    get:
      summary: Personal activity history (own actions + actions on own stuff)
      responses:
        '200': { description: Paginated activity rows, newest first }
        '401': { description: "{ message } — missing/invalid Bearer key or SSO token" }
  /settings:
    get:
      summary: Theme/layout + email notification preferences
      responses:
        '200': { description: "{ nav_layout, theme, notify_* }" }
    patch:
      summary: Update preferences (same rules as the web settings form)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nav_layout: { type: string, enum: [side, top] }
                theme: { type: string, enum: [system, light, dark] }
                notify_security_email: { type: boolean }
                notify_admin_security_email: { type: boolean }
                notify_server_error_email: { type: boolean }
      responses:
        '200': { description: Updated preferences }
        '422': { description: Validation error (`{ message, errors }`) }
  /bio-pages:
    get:
      summary: List own bio pages (owner or admin)
      responses:
        '200': { description: Paginated bio pages }
        '401': { description: "{ message } — missing/invalid Bearer key or SSO token" }
    post:
      summary: Create a bio page on a verified custom domain
      description: |
        Custom user domains only (eligible plans, verified, active);
        system domains are rejected (422). One root page per domain;
        sub-pages pass `parent_id` + `slug` (`[a-z0-9-]{1,64}`, reserved
        slugs and live link slugs rejected). Max 3 roots, 10 subs each.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain_id, title]
              properties:
                domain_id: { type: string, description: ULID }
                parent_id: { type: string, description: ULID of root page for sub-pages }
                slug: { type: string, pattern: "^[a-z0-9-]{1,64}$" }
                title: { type: string, maxLength: 80 }
                bio: { type: string, maxLength: 280 }
                avatar_url: { type: string, format: uri, maxLength: 2048 }
                theme: { type: string, enum: [minimal, dark, paper, auto] }
                locale: { type: string, enum: [en, de, fr, es, it] }
                accent: { type: string, pattern: "^#[0-9a-fA-F]{6}$" }
                theme_color: { type: string, pattern: "^#[0-9a-fA-F]{6}$", description: Browser address-bar color }
                button_style: { type: string, enum: [filled, outline, soft] }
                layout: { type: string, enum: [list, grid] }
                hide_branding: { type: boolean, description: Eligible plans only; silently ignored otherwise }
                password_hint: { type: string, maxLength: 120 }
                gone_url: { type: string, format: uri, maxLength: 2048, description: Redirect target after expiry }
                show_stats: { type: boolean, description: Show a public view counter }
                cover_url: { type: string, format: uri, maxLength: 2048 }
                footer_text: { type: string, maxLength: 140 }
                og_title: { type: string, maxLength: 120 }
                og_description: { type: string, maxLength: 300 }
                og_image_url: { type: string, format: uri, maxLength: 2048 }
                is_active: { type: boolean }
      responses:
        '201': { description: Created }
        '422': { description: Validation error (`{ message, errors }`) }
  /bio-pages/{page}:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Get a bio page with buttons + sub-pages (owner or admin)
      responses:
        '200': { description: Bio page }
        '403': { description: "{ message: 'You do not own this page.' }" }
        '404': { description: Unknown page or wrong host }
    put:
      summary: Update page fields (title, bio, avatar, theme, OG, activity)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, maxLength: 80 }
                bio: { type: string, maxLength: 280, nullable: true }
                avatar_url: { type: string, format: uri, maxLength: 2048, nullable: true }
                theme: { type: string, enum: [minimal, dark, paper, auto] }
                locale: { type: string, enum: [en, de, fr, es, it] }
                accent: { type: string, pattern: "^#[0-9a-fA-F]{6}$", nullable: true }
                theme_color: { type: string, pattern: "^#[0-9a-fA-F]{6}$", nullable: true }
                button_style: { type: string, enum: [filled, outline, soft] }
                layout: { type: string, enum: [list, grid] }
                hide_branding: { type: boolean, description: Eligible plans only; silently ignored otherwise }
                password_hint: { type: string, maxLength: 120, nullable: true }
                gone_url: { type: string, format: uri, maxLength: 2048, nullable: true }
                show_stats: { type: boolean }
                cover_url: { type: string, format: uri, maxLength: 2048, nullable: true }
                footer_text: { type: string, maxLength: 140, nullable: true }
                password: { type: string, minLength: 8, maxLength: 72, description: Sets (or rotates) the page password }
                remove_password: { type: boolean, description: Clears the page password }
                og_title: { type: string, maxLength: 120, nullable: true }
                og_description: { type: string, maxLength: 300, nullable: true }
                og_image_url: { type: string, format: uri, maxLength: 2048, nullable: true }
                is_active: { type: boolean }
                published_at: { type: string, format: date-time, nullable: true, description: Future dates hide the page until then }
      responses:
        '200': { description: Updated }
        '403': { description: "{ message: 'You do not own this page.' }" }
    delete:
      summary: Deactivate a bio page (analytics preserved)
      responses:
        '204': { description: Deactivated }
        '403': { description: "{ message: 'You do not own this page.' }" }
  /bio-pages/{page}/buttons:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    put:
      summary: Replace all buttons on a page (max 25, [] clears)
      description: |
        Full replace; `[]` removes every button. Kinds `link|header|divider|social|contact|video|image|countdown|quote|coupon`. Link/social/video
        buttons require `destination_url` (junk + unsafe validators run, video hosts limited to YouTube/Vimeo).
        Schedule windows via `starts_at`/`ends_at`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [buttons]
              properties:
                buttons:
                  type: array
                  maxItems: 25
                  items:
                    type: object
                    required: [kind]
                    properties:
                      id: { type: string, description: ULID of an existing button (identity-preserving update; unknown ids rejected) }
                      label: { type: string, maxLength: 60 }
                      sublabel: { type: string, maxLength: 120 }
                      kind: { type: string, enum: [link, header, divider, social, contact, video, image, countdown, quote, coupon, rsvp, location, audio] }
                      action: { type: string, enum: [url, subpage, modal], default: url, description: url = destination_url, subpage = target_page_id inside the same bio family, modal = pop-up }
                      destination_url: { type: string, format: uri, maxLength: 2048 }
                      target_page_id: { type: string, description: ULID of a page in the same bio family }
                      modal_title: { type: string, maxLength: 80 }
                      modal_body: { type: string, maxLength: 1000 }
                      modal_image_url: { type: string, format: uri, maxLength: 2048 }
                      contact_email: { type: string, format: email, maxLength: 255, description: Required for contact buttons (email or phone) }
                      contact_phone: { type: string, maxLength: 40 }
                      open_new: { type: boolean, description: Open in a new tab }
                      download_file: { type: boolean, description: Hint browsers to download the target }
                      badge: { type: string, maxLength: 12 }
                      event_at: { type: string, format: date-time, description: Required for countdown blocks }
                      icon: { type: string, enum: [instagram, tiktok, x, youtube, github, globe, mail, link] }
                      sort_order: { type: integer, minimum: 0, maximum: 255 }
                      is_active: { type: boolean }
      responses:
        '200': { description: Updated button list }
        '422': { description: Validation error (`{ message, errors }`) }
  /bio-pages/from-template:
    post:
      summary: Create a page pre-filled from a starter template
      description: |
        Templates `creator`, `business`, `event`. Counts against the
        usual page caps; starts with placeholder links to edit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain_id, template]
              properties:
                domain_id: { type: string, description: ULID }
                template: { type: string, enum: [creator, business, event] }
                title: { type: string, maxLength: 80 }
      responses:
        '201': { description: Created pre-filled page }
        '422': { description: Validation error (`{ message, errors }`) }
  /bio-pages/{page}/duplicate:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    post:
      summary: Duplicate a page with its buttons (counters zeroed, starts inactive)
      description: |
        Pass `domain_id` for a root copy on another domain, or `parent_id`
        for a sub-page copy. Sub-page button links freeze to their original
        absolute URLs. Slugs auto-suffix when taken.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_id: { type: string, description: ULID }
                parent_id: { type: string, description: ULID of the new parent root }
      responses:
        '201': { description: Created copy }
        '403': { description: "{ message: 'You do not own this page.' }" }
        '422': { description: Validation error (`{ message, errors }`) }
  /bio-pages/{page}/stats:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Bio analytics (views, taps, CTR, per-button, per-day)
      parameters:
        - name: days
          in: query
          required: false
          schema: { type: integer, enum: [7, 30, 90], default: 30 }
      responses:
        '200':
          description: Views, taps, CTR, by_button shares, by_day series
          content:
            application/json:
              schema:
                type: object
                properties:
                  views: { type: integer }
                  taps: { type: integer }
                  unique_visitors: { type: integer }
                  ctr: { type: number, nullable: true }
                  by_button: { type: array, items: { type: object } }
                  by_day: { type: array, items: { type: object } }
                  by_subpage: { type: array, items: { type: object } }
                  top_referrers: { type: array, items: { type: object } }
                  top_countries: { type: array, items: { type: object } }
  /bio-pages/{page}/export:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Export the full page definition as JSON (no secrets, no counters)
      responses:
        '200': { description: Page definition JSON }
        '403': { description: "{ message: 'You do not own this page.' }" }
  /bio-pages/{page}/events/export:
    parameters:
      - { name: page, in: path, required: true, schema: { type: string, description: ULID } }
    get:
      summary: Export bio events as CSV (no raw IPs)
      responses:
        '200':
          description: CSV download
          content:
            text/csv: { schema: { type: string } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Either a `tl_…` API key (SHA-256 stored, prefix shown) or a
        Ternis Auth SSO access token (validated against userinfo, cached 5 min).
